* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
button {
  cursor: pointer;
}
/* =================================================================
                         All Common CSS 
================================================================= */
.main {
  background-color: bisque;
  width: 700px;
  margin: 0 auto;
  border-radius: 7px;
}
.heading {
  text-align: center;
  padding: 20px 0;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 350px;
  height: 50px;
  padding: 0 20px;
}
.input::placeholder {
  padding: 0 20px;
}
.button,
.button__two {
  width: 100px;
  height: 50px;
}
.button__two {
  /* display: none; */
}
.ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  padding: 20px 0;
}
.list {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}
.todo__title {
  width: 180px;
}
.delete,
.edit,
.save {
  padding: 7px 10px;
}
.save {
  /* visibility: hidden; */
}
